body {
  font-family: "Calibri Light";
}
            
#title {
  border-bottom: 2px solid rgb(196, 196, 196);
  padding-bottom: 5px;
  font-size: 30px;
}
#about-us {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
            
#about-us-text {
  text-align: center;
  width: 300px;
                padding-left: 150px;
                
}
            
.top {
  font-family: "Calibri Light";
  text-decoration: none;
  color: black;
  padding-left: 20px;
  position: relative;
  bottom: 50px;
}
            
a:hover {
  color: rgb(161, 159, 161);
  text-decoration: underline;
 }
            
.medium-img {
  width: 188px;
}
            
.small-img {
  width: 88px;
            }
            
.center {
  text-align: center;
}     
       
#shop-now-text {
  color: black;
  text-decoration: none;
}
